<div class="container">
  <header>
    <div style="background-color: rgb(134, 213, 225); padding: 5px;">
      <h1 style="color: rgb(35, 87, 113) ;">Phone Book Application</h1>
      <hr>
      <span>Powered by Angular 16</span>
    </div>
  </header>
  <div class="row" >
    <div class="col-4" style="height: 450px;background-color: rgb(238, 238, 179);margin:10px;">
      <div class="row" style=" box-sizing: border-box;"><button class="btn btn-secondary mt-3 mb-3" on-click = "nav()" >Contact List</button></div>
      <div class="row" style=" box-sizing: border-box;" ><button class="btn btn-secondary mb-3" on-click="Home()">Home</button></div>
      <div class="row" style=" box-sizing: border-box;"><button class="btn btn-secondary" on-click="Add()">Add Contact</button></div>
    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
